{% extends 'music/base.html' %}

{% block content %}
<div class="container" style="margin: 15px;">
    <div class="form-control">
        {% for message in messages %}
            <div class="alert alert-warning">{{message}}</div>
        {% endfor %}

        {{ field.errors }}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </div>
</div>
{% endblock %}